@import '../mixins/_sprite.styl'
.sprite-icon
    sprite-image()
    background-repeat: no-repeat
    &--arrow-left
        sprite-position(arrow-left)
        sprite-width(arrow-left)
        sprite-height(arrow-left)
    &--arrow-right
        sprite-position(arrow-right)
        sprite-width(arrow-right)
        sprite-height(arrow-right)
    &--butterfly
        sprite-position(butterfly)
        sprite-width(butterfly)
        sprite-height(butterfly)
    &--cat
        sprite-position(cat)
        sprite-width(cat)
        sprite-height(cat)
    &--cloud
        sprite-position(cloud)
        sprite-width(cloud)
        sprite-height(cloud)
    &--cloud2
        sprite-position(cloud2)
        sprite-width(cloud2)
        sprite-height(cloud2)
    &--comfortable
        sprite-position(comfortable)
        sprite-width(comfortable)
        sprite-height(comfortable)
    &--easytouse
        sprite-position(easytouse)
        sprite-width(easytouse)
        sprite-height(easytouse)
    &--facebook
        sprite-position(facebook)
        sprite-width(facebook)
        sprite-height(facebook)
    &--functional
        sprite-position(functional)
        sprite-width(functional)
        sprite-height(functional)
    &--instagram
        sprite-position(instagram)
        sprite-width(instagram)
        sprite-height(instagram)
    &--marker
        sprite-position(marker)
        sprite-width(marker)
        sprite-height(marker)
    &--partner1
        sprite-position(partner1)
        sprite-width(partner1)
        sprite-height(partner1)
    &--partner2
        sprite-position(partner2)
        sprite-width(partner2)
        sprite-height(partner2)
    &--partner3
        sprite-position(partner3)
        sprite-width(partner3)
        sprite-height(partner3)
    &--partner4
        sprite-position(partner4)
        sprite-width(partner4)
        sprite-height(partner4)
    &--stylish
        sprite-position(stylish)
        sprite-width(stylish)
        sprite-height(stylish)
    &--twitter
        sprite-position(twitter)
        sprite-width(twitter)
        sprite-height(twitter)
