arrow-left-x = 0
arrow-left-y = 0
arrow-left-width = 21px
arrow-left-height = 44px
arrow-left = arrow-left-x arrow-left-y arrow-left-width arrow-left-height
arrow-right-x = 0
arrow-right-y = -54px
arrow-right-width = 21px
arrow-right-height = 44px
arrow-right = arrow-right-x arrow-right-y arrow-right-width arrow-right-height
butterfly-x = 0
butterfly-y = -108px
butterfly-width = 99px
butterfly-height = 86px
butterfly = butterfly-x butterfly-y butterfly-width butterfly-height
cat-x = 0
cat-y = -204px
cat-width = 56px
cat-height = 48px
cat = cat-x cat-y cat-width cat-height
cloud-x = 0
cloud-y = -262px
cloud-width = 81px
cloud-height = 46px
cloud = cloud-x cloud-y cloud-width cloud-height
cloud2-x = 0
cloud2-y = -318px
cloud2-width = 81px
cloud2-height = 46px
cloud2 = cloud2-x cloud2-y cloud2-width cloud2-height
comfortable-x = 0
comfortable-y = -374px
comfortable-width = 63px
comfortable-height = 27px
comfortable = comfortable-x comfortable-y comfortable-width comfortable-height
easytouse-x = 0
easytouse-y = -411px
easytouse-width = 69px
easytouse-height = 19px
easytouse = easytouse-x easytouse-y easytouse-width easytouse-height
facebook-x = 0
facebook-y = -440px
facebook-width = 31px
facebook-height = 30px
facebook = facebook-x facebook-y facebook-width facebook-height
functional-x = 0
functional-y = -480px
functional-width = 69px
functional-height = 23px
functional = functional-x functional-y functional-width functional-height
instagram-x = 0
instagram-y = -513px
instagram-width = 31px
instagram-height = 30px
instagram = instagram-x instagram-y instagram-width instagram-height
marker-x = 0
marker-y = -553px
marker-width = 79px
marker-height = 121px
marker = marker-x marker-y marker-width marker-height
partner1-x = 0
partner1-y = -684px
partner1-width = 228px
partner1-height = 57px
partner1 = partner1-x partner1-y partner1-width partner1-height
partner2-x = 0
partner2-y = -751px
partner2-width = 335px
partner2-height = 72px
partner2 = partner2-x partner2-y partner2-width partner2-height
partner3-x = 0
partner3-y = -833px
partner3-width = 115px
partner3-height = 51px
partner3 = partner3-x partner3-y partner3-width partner3-height
partner4-x = 0
partner4-y = -894px
partner4-width = 280px
partner4-height = 35px
partner4 = partner4-x partner4-y partner4-width partner4-height
stylish-x = 0
stylish-y = -939px
stylish-width = 51px
stylish-height = 41px
stylish = stylish-x stylish-y stylish-width stylish-height
twitter-x = 0
twitter-y = -990px
twitter-width = 29px
twitter-height = 28px
twitter = twitter-x twitter-y twitter-width twitter-height

sprite-image()
    background-image url('./sprite.png')
sprite-position($sprite)
    background-position $sprite[0] $sprite[1]
sprite-width($sprite)
    width $sprite[2]
sprite-height($sprite)
    height $sprite[3]
sprite($sprite)
    sprite-image()
    sprite-position($sprite)
    sprite-width($sprite)
    sprite-height($sprite)
