arrow-left-x = 0
arrow-left-y = 0
arrow-left-width = 1.313rem
arrow-left-height = 2.75rem
arrow-left = arrow-left-x arrow-left-y arrow-left-width arrow-left-height
arrow-right-x = 0
arrow-right-y = -3.375rem
arrow-right-width = 1.313rem
arrow-right-height = 2.75rem
arrow-right = arrow-right-x arrow-right-y arrow-right-width arrow-right-height
butterfly-x = 0
butterfly-y = -6.75rem
butterfly-width = 6.188rem
butterfly-height = 5.375rem
butterfly = butterfly-x butterfly-y butterfly-width butterfly-height
cat-x = 0
cat-y = -12.75rem
cat-width = 3.5rem
cat-height = 3rem
cat = cat-x cat-y cat-width cat-height
cloud-x = 0
cloud-y = -16.375rem
cloud-width = 5.063rem
cloud-height = 2.875rem
cloud = cloud-x cloud-y cloud-width cloud-height
cloud2-x = 0
cloud2-y = -19.875rem
cloud2-width = 5.063rem
cloud2-height = 2.875rem
cloud2 = cloud2-x cloud2-y cloud2-width cloud2-height
comfortable-x = 0
comfortable-y = -23.375rem
comfortable-width = 3.938rem
comfortable-height = 1.688rem
comfortable = comfortable-x comfortable-y comfortable-width comfortable-height
easytouse-x = 0
easytouse-y = -25.688rem
easytouse-width = 4.313rem
easytouse-height = 1.188rem
easytouse = easytouse-x easytouse-y easytouse-width easytouse-height
facebook-x = 0
facebook-y = -27.5rem
facebook-width = 1.938rem
facebook-height = 1.875rem
facebook = facebook-x facebook-y facebook-width facebook-height
functional-x = 0
functional-y = -30rem
functional-width = 4.313rem
functional-height = 1.438rem
functional = functional-x functional-y functional-width functional-height
instagram-x = 0
instagram-y = -32.063rem
instagram-width = 1.938rem
instagram-height = 1.875rem
instagram = instagram-x instagram-y instagram-width instagram-height
marker-x = 0
marker-y = -34.563rem
marker-width = 4.938rem
marker-height = 7.563rem
marker = marker-x marker-y marker-width marker-height
partner1-x = 0
partner1-y = -42.75rem
partner1-width = 14.25rem
partner1-height = 3.563rem
partner1 = partner1-x partner1-y partner1-width partner1-height
partner2-x = 0
partner2-y = -46.938rem
partner2-width = 20.938rem
partner2-height = 4.5rem
partner2 = partner2-x partner2-y partner2-width partner2-height
partner3-x = 0
partner3-y = -52.063rem
partner3-width = 7.188rem
partner3-height = 3.188rem
partner3 = partner3-x partner3-y partner3-width partner3-height
partner4-x = 0
partner4-y = -55.875rem
partner4-width = 17.5rem
partner4-height = 2.188rem
partner4 = partner4-x partner4-y partner4-width partner4-height
stylish-x = 0
stylish-y = -58.688rem
stylish-width = 3.188rem
stylish-height = 2.563rem
stylish = stylish-x stylish-y stylish-width stylish-height
twitter-x = 0
twitter-y = -61.875rem
twitter-width = 1.813rem
twitter-height = 1.75rem
twitter = twitter-x twitter-y twitter-width twitter-height

sprite-image()
    background-image: url('images/icons/sprite.png')
sprite-position(s)
    background-position: s[0] s[1]
sprite-width(s)
    width: s[2]
sprite-height(s)
    height: s[3]
sprite(s)
    sprite-image()
    sprite-position(s)
    sprite-width(s)
    sprite-height(s)
