extends _base.pug
block title
  title Brunch
block main
  header.page-header
    .container
      h1 Brunch
  main.main
    .container
  footer.page-footer
    .container
      p.copyright &copy; Ethcrawford 2018
