extends _base.pug
block title
  title Brunch
block main
  h1.heading.heading--clear.visually-hidden Sprite-test
  header.page-header
    .container
      h2.heading.heading--clear Brunch
  main.main
    .container
      .col-md-3
        
  footer.page-footer
    .container
      p.copyright &copy; Ethcrawford 2018
