extends _base.pug
block title
  title Brunch
block main
  h1.heading.heading--clear.visually-hidden Sprite-test
  header.page-header
    .container
      h2.heading.heading--clear Brunch
  main.main
    .container
      .row
        .col-4.col-lg-1
          .sprite-icon-container
            .sprite-icon.sprite-icon--arrow-left
        .col-4.col-lg-1
          .sprite-icon-container
            .sprite-icon.sprite-icon--arrow-right
        .col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--butterfly
        .col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--cat
        .col-4.col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--cloud
        .col-4.col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--cloud2
        .col-4.col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--comfortable
        .col-4.col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--easytouse
        .col-4.col-lg-1
          .sprite-icon-container
            .sprite-icon.sprite-icon--facebook
        .col-4.col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--functional
        .col-4.col-lg-1
          .sprite-icon-container
            .sprite-icon.sprite-icon--instagram
        .col-lg-4
          .sprite-icon-container
            .sprite-icon.sprite-icon--marker
        .col-lg-6
          .sprite-icon-container
            .sprite-icon.sprite-icon--partner1
        .col-lg-6
          .sprite-icon-container
            .sprite-icon.sprite-icon--partner2
        .col-lg-6
          .sprite-icon-container
            .sprite-icon.sprite-icon--partner3
        .col-lg-6
          .sprite-icon-container
            .sprite-icon.sprite-icon--partner4
        .col-lg-2
          .sprite-icon-container
            .sprite-icon.sprite-icon--stylish
        .col-lg-1
          .sprite-icon-container
            .sprite-icon.sprite-icon--twitter
  footer.page-footer
    .container
      p.copyright &copy; Ethcrawford 2018
